/* コメントはこう書く。
複数行にわたってもＯＫ。
要素セレクター: HTMLタグ名をそのまま指定します（例: p, h1, div）。
クラスセレクター: HTML要素に指定されたクラス名を指定します。
クラスセレクターは .（ピリオド）で始めます（例: .class-name）。
IDセレクター: HTML要素に指定されたIDを指定します。#（シャープ）で始めます（例: #id-name）。
子孫セレクター: HTML文書の構造に沿って指定する書き方。空白で区切って配下の要素を指定します。
疑似クラス：特定の状態になっている要素を指定します。擬似クラスはコロン : で指定します。

たとえば　<p> 要素にCSSを適用したい場合、p をセレクターとして指定。　*/


/* 要素セレクター */
p {
  color: #666; /* テキスト色をグレーに */
}


/* クラスセレクター */
.overview {
  color: #333; /* テキスト色を濃いグレーに */
  border-left: 4px solid #3498db; /* 左側に青線 */
  padding: 5px; /* 余白を5pxに */
}

/* IDセレクター */
#firsttitle {
    color: #3498db; /* テキスト色を水色に */
    font-weight: bold; /* 太字 */
}


/* 子孫セレクター ：HTML文書の構造に沿って指定する書き方。
例えば、 <section> の配下にある <p> 要素を指定するには section p と記述　*/
section p {
  background-color: #eee; /* 背景色を薄いグレーに */
}


/* 擬似クラス　：特定の状態になっている要素に対してスタイルを
適用する書き方。擬似クラスはコロン : で指定 */
a:link {
  color: #0000ff; /* 未訪問の通常時のリンク＝テキスト色を青に */
}
a:hover {
  color: #ff0000; /* ホバー（マウスオーバー）時のテキスト色を赤に */
}
a:visited {
  color: #999999; /* 訪問済のテキスト色をグレーに */
}


/*すべての要素にスタイルを適用　例：マージンをゼロに　*/
* {
    margin: 0;
    padding: 0;
}


/* 大きさの記法（ピクセル） */
h1 {
  font-size: 48px; /* 文字サイズを32pxに */
}


/* 大きさの記法（パーセント） */
.overview {
  width: 80%; /* 幅を80%に */
}

